#books-container {
  --gap: 2rem;
  --num-cols: 3;

  box-sizing: border-box;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-template-rows: auto;
  gap: var(--gap);
  display: grid;
  grid-row: 1fr 2fr 1fr;
  align-items: stretch; /* This property ensures all grid items stretch to the same height */
}

@media screen and (max-width: 1280px) {
  #books-container {
    --num-cols: 2;
  }
}

@media screen and (max-width: 767px) {
  #books-container {
    --num-cols: 1;
  }
}
