@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles and  varibles */
:root {
  --main-color: 135, 30, 53;
  --main-color: 135, 30, 53;

  /* transtion duration */
  --main-transtion-duration: 0.3s;
  /* border radious */
  --main-border-radious: 0.5rem;
}

html {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 491px) {
  html {
    font-size: 12px;
  }
}

*,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgb(var(--main-color));
  color: #fff;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus-visible {
  outline: none;
}

/* scroll styles */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebf2ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--main-color));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}
