@media (min-width: 767px) {
  .card-item:hover {
    transform: translateY(-10px);
  }
}

.animation-transition {
  transition: 0.7s;
}

.card-item:hover app-image-loader {
  animation: image-pop-rotate 6s linear forwards;
}

@keyframes image-pop-rotate {
  0% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translateY(40px) scale(1.4);
  }
}
