<div
  class="card-item flex flex-col rounded-xl overflow-hidden shadow-md main-transition cursor-pointer relative h-full w-full"
>
  <div
    class="relative w-full overflow-hidden animation-transition"
    [routerLink]="[
      '/books',
      _details?.main_subject,
      _details?.key | extractID,
      'details'
    ]"
  >
    <app-image-loader
      [alt]="_details?.title + 'cover image'"
      [id]="_details?.key | extractID"
      [imageLoading]="true"
      [imageLoadingUrl]="'assets/images/image-loader.webp'"
      [imageUrl]="_details?.cover_id || _details?.cover_i"
      [noImageUrl]="'assets/images/image-loader.webp'"
      [imageClass]="'w-full h-full object-cover'"
      class="relative block w-full h-[26rem] overflow-hidden z-[-2]"
    >
    </app-image-loader>
  </div>

  <div class="p-3">
    <p
      class="sub-color font-bold text-lg min-h-8 flex items-center"
      [title]="_details?.title"
      [routerLink]="[
        '/books',
        _details?.main_subject,
        _details?.key | extractID,
        'details'
      ]"
    >
      {{ _details?.title | cutLongString : 35 }}
    </p>

    <div>
      @for (author of _details?.authors | slice : 0 : 3; track $index; ; let
      last = $last) {
      <a
        [routerLink]="['/authors', author?.key | extractID, 'details']"
        class="text-[#3b3736] transition-colors hover:main-color hover:underline"
      >
        {{ author?.name }}
        @if(!last) { {{ ", " }} }
      </a>
      }
    </div>
  </div>

  <p
    class="sub-bg text-white text-center absolute right-4 top-4 px-3 py-2 rounded-lg text-sm"
  >
    {{ _details?.first_publish_year }}
  </p>
</div>
